h1 {
    background-color: salmon;
    padding: 1em;
}

ol li {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    color: salmon;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    border: 2px solid salmon;
}