@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}

body {
    background-color: #F0EEF0;
    font-family: 'Cairo', sans-serif;
    margin: auto 0;
}

.header-div {
    min-width: 400px;
    width: 33%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px 30px 30px;
    display: flex;
    flex-direction: column;
}

.fixer {
    background-color: #F0EEF0;
    display: flex;
    flex-direction: row;
}

#input {
    width: 92%;
    /* height: auto; */
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    outline: none;
    padding: .2rem 0;
    background-color: transparent;
    color: #0d0c22;
    transition: .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#input:focus,
#input:hover {
    outline: none;
    padding-left: .4rem;
    border-radius: .2rem;
    border-color: #548235;
}

#input::placeholder {
    color: #777;
}

#input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

.plus {
    font-size: 15px;
    padding: 5px;
    background-color: #548235;
    border: 1px solid rgb(214, 214, 214);
    cursor: pointer;
    width: 80px;
    margin-left: 10px;
    border-radius: 5px;
    color: #fff;
    transition: .0s cubic-bezier(0.645, 0.045, 0.355, 1);
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 45px;
}

.name {
    z-index: 1;
}

main {
    text-align: center;
}

.main-content {
    display: none;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 440px;
    margin-left: auto;
    /* margin-right: auto; */
    padding: 0px 30px 30px 30px;
    border: 2px solid #6d6d6d;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 1px #6d6d6d;
    min-width: 400px;
    height: 662px;
    padding-top: 1em;
}

.main-inf {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.text {
    padding: 1rem;
    margin: .2rem;
    background-color: #dfdfdf;
    border-radius: 10px;
}

.text>span {
    font-size: 18px;
    font-weight: bold;
}

.text>p {
    white-space: nowrap;
}

select {
    margin-top: 1em;
    min-width: 120px;
    width: 20%;
    height: 30px;
    border: none;
    background-color: #548235;
    color: rgb(255, 255, 255);
    outline: none;
    border-radius: 3px;
    font-weight: 500;
}

.img {
    position: relative;
    padding: 0;
    z-index: 1;
    left: 1%;
}

.img img {
    filter: drop-shadow(0 0 10px #121212);
    width: 300px;
}

.content-inf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 30px 60px;
    border-radius: 10px;
    background-color: #fff;
    min-width: 320px;
    width: 375px;
    /* margin-bottom: 15px; */
    box-shadow: 0 0 8px rgb(0 0 0 / 30%);
    height: auto;
    position: absolute;
    top: 560px;
}

#show-more {
    display: flex;
    margin-top: 1em;
    border: none;
    background-color: #548235;
    color: #fff;
    padding: 1em;
    width: 90%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    border: none;
    letter-spacing: 0.05em;
    border-radius: 10px;
}

#show-more svg {
    margin-right: 3px;
    /* transform: rotate(5deg); */
    transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    margin-left: 1rem;
    fill: white;
}

#show-more span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}


/* #show-more:hover svg {
    transform: translateX(5px) rotate(90deg);
} */

#show-more:hover span {
    transform: translateX(7px);
}

#show-more:hover {
    background-color: #41642a;
}

#show-more.present svg {
    transform: translateX(5px) rotate(90deg);
}

#history {
    display: none;
    height: auto;
    width: 300px;
    border: 8px solid #548235e7;
    margin: 2em;
    margin-right: auto;
    border-radius: 5px;
}

#history.present {
    display: block;
}

.h-icon {
    font-size: 15px;
    padding: 5px;
    background-color: #548235;
    border: 1px solid rgb(214, 214, 214);
    cursor: pointer;
    width: 80px;
    margin-left: 10px;
    border-radius: 5px;
    color: #fff;
    transition: transform 0s cubic-bezier(0.76, 0, 0.24, 1);
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-container li {
    margin: .5em;
    background-color: #dfdfdf;
    border-radius: 5px;
    list-style-type: none;
    text-align: center;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    width: 150px;
    text-align: center;
    padding: 8px;
    margin-bottom: 4px;
}

.list-container li:is(:hover,
 :focus) {
    width: 80%;
}

.content-all {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    transition: transform 5s cubic-bezier(0.76, 0, 0.24, 1);
}

.clean {
    border: none;
    font-size: 20px;
    margin-left: .5em;
    padding: .4em .5em .4em .5em;
    cursor: pointer;
}

.clean:hover {
    color: #548235;
}

.circle {
    /* z-index: 1; */
    height: 320px;
    width: 320px;
    border-radius: 100%;
    margin-top: 20px;
    background-color: #548235;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.circle::after {
    animation: pulse 1000ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.4;
    }
}

.circle::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #548235;
    border-radius: 100%;
    z-index: -1;
}

#more-inf {
    display: none;
    transition: 0.3s;
}

#more-inf.present {
    display: block;
    background-color: #dfdfdf;
    margin-top: 1em;
    border-radius: 10px;
    padding: 1em;
    line-height: 27px;
    text-align: justify;
    transition-duration: 1s;
}

#more-inf h2 {
    margin-bottom: .5em;
}